@charset "utf-8";
/* created front-end developer by Roman, Skype: ItJustAlance */

@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Medium'), local('Stolzl-Medium'),
    url('Stolzl-Medium.woff2') format('woff2'),
    url('Stolzl-Medium.woff') format('woff'),
    url('Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Regular'), local('Stolzl-Regular'),
    url('Stolzl-Regular.woff2') format('woff2'),
    url('Stolzl-Regular.woff') format('woff'),
    url('Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Bold'), local('Stolzl-Bold'),
    url('Stolzl-Bold.woff2') format('woff2'),
    url('Stolzl-Bold.woff') format('woff'),
    url('Stolzl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




* {margin:0; padding:0; max-height: 9001em; box-sizing: border-box;}
img {border:none; max-width:100%; vertical-align:top;}
html {-webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
}
html, body { height:100%;}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
svg { vertical-align: top;}
h1 {}
p { padding:0 0 10px;}
a {color:#000;
  transition: all 0.3s ease;
}
a:hover { text-decoration:none;}
.over { position:relative; overflow:hidden; width:100%; min-height:100%;}
.f-clear {clear:both;width:100%; height:260px;}

/*
.vc-block {height:100px;}
.vc-block:before {content:""; display:inline-block;width:0;height:100%; vertical-align:middle;}
.vc-block .vc-cont {display:inline-block; vertical-align:middle;}


*/

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
	opacity: 1 !important;
	color: #fff;
}


.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

input[type='submit']::-moz-focus-inner, button::-moz-focus-inner {
	padding:0;
	border:0;
	}

input, textarea, button {font-family: 'Stolzl';}
.input__input:focus, textarea:focus,
.input__input:hover, textarea:hover {color:#fff; border-color: #fff;}


    /******* SELECT **********/

/* .ik_select { display:inline-block; *display:inline;zoom:1; position:relative; vertical-align:top;color:#493d32;font-family: 'PT Sans', sans-serif; height:25px; font-size:12px; background:#fff; cursor:pointer; padding:0 ; border:1px solid #84786d; border-radius:3px;}
*/
.ik_select { cursor:pointer;}
.ik_select_dropdown {
	font-size: 12px;
	color: #fff;
	font-weight:300;
	margin-top: -1px;
	top:100% !important;
    left:0 !important;
}
.ik_select_dropdown ul {
	display: block;
	padding: 0;
	position: relative;
	left: 0;
}
.ik_select_dropdown ul li {
	margin: 0;
	list-style: none;
	color:#343434;
}
.ik_select_dropdown ul li { display:block;padding:5px 15px;}
.ik_select_dropdown ul li:hover {background:#f7f7f7;}
.ik_select_dropdown ul li span {display:block;}
.ik_select {
    background-image: none;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 1.42857;
    font-weight:300;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: top;
    width: 100%;
	}
/* .ik_select.sel_open .ik_select_link {background:url(../img/arr-down.png) 100% 50% no-repeat; } */

.ik_select_link_text { padding-right:15px;color:#fff;
font-size: 14px;background:url(../img/arr-select.png)  100% 50% no-repeat; text-overflow: ellipsis; overflow: hidden;    white-space: nowrap; }
.ik_select select { z-index:4; width:100%;}
.ik_select_link {
	overflow: hidden;
	padding: 12px 15px 10px;
	white-space:nowrap;
	position: relative;
	background-color: #182034;
	z-index:99;
	border-radius:0;

}
.ik_select.open_sel .ik_select_link {
	}
.ik_select_list li {
	padding:0;
	position: relative;
	cursor: pointer;
	list-style: none;
	margin:0;
}
.ik_select_list li:hover {color:#1c6cd5;}
.ik_select_list {
	left:0;
	top:0;
	border-top:none;
	margin:0 1px 0 0;
	border-top:none;box-shadow:1px 2px 5px rgba(0,0,0, .1); background: #fff;
}
.ik_select_list ul { font-size: 14px;color:#25262b; margin:0; padding:0; display:block; margin-right:1px;}
.ik_select_filter_wrap .ik_select_filter {width:100% !important; outline:none;}
.ik_select_filter_wrap {padding:5px 15px;}


strong, b { font-weight:bold;}
i, em {font-style:italic;}
table p {padding:0 !important;}
body {font-family: 'Stolzl'; line-height: 1.3; color: #000; font-size: 16px;}



/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{

}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.h-title {font-size: 64px; font-weight: 500; margin: 0; line-height: 1.1; padding: 0 0 64px; }
.h-title strong {font-weight: 700;}
.h-title--center { text-align: center}

.all { margin:0 auto; width: 100%; max-width: 1460px; padding: 0 80px;}

.btn { display: inline-flex; background: #FE5721; vertical-align: top; border: 1px solid #FE5721; cursor: pointer; text-decoration: none; padding: 16px 40px; transition: all 0.3s ease; border-radius: 45px; color: #fff; font-size: 24px;}

.btn:hover {background: #CA3606; border-color: #CA3606}

.btn--border-white {background: none; border-color: #fff;}
.btn--border-white:hover {background: #fff; border-color: #fff; color: #1698E1}

.btn--border {background: none; color: #000; border-color: #FE5721; border-radius: 5px; font-size: 16px; padding: 6px 20px 7px;}
.btn--border:hover {background: #CA3606; border-color: #CA3606; color: #fff}


.input__input, textarea {border:none; border-bottom: 1px solid rgba(255,255,255, .2); background: none; padding: 0 0 24px; font-size: 16px; outline: none; color: #fff;}
.input__input::placeholder, textarea::placeholder {
    color: rgba(255,255,255, .6);
}

/* Шапка */
header {position: fixed;top: 0;left: 0;width: 100%; z-index: 50; padding: 35px 0; transition: all 0.3s ease;}
header .all { display: flex; align-items: center; position: relative; }
header .b-logo { position: absolute; left: 0; top: 0; width: auto; height: auto; background: rgba(255,255,255, 0);}
header .b-logo .logo {display: flex; align-items: flex-end}
header .ic-logo {width: 239px; height: 73px; transition: all .2s linear;}
header .b-logo-wrapper { position: relative; height: 73px; min-width: 200px;}

header.fixed {background: #FFF4F1;     box-shadow: 0 4px 14px rgba(0, 0, 0, 0.07); padding: 20px 0;}
header.fixed .b-logo-wrapper { height: 41px;}
header.fixed .ic-logo {fill: #3A3A3A; width: 235px; height: 41px;}
header.fixed .b-logo.loading.load .ic-logo {width: 235px; height: 41px;}
header.fixed nav li a {color: #1D1D1B}
header.fixed #hamburger-icon .line {background: #1D1D1B;}

.b-logo.loading {position: fixed;top: 0;left: 0; width: 100%;transition: all .5s linear;  height: 100%; max-width: 200%; margin: 0; display: flex; align-items: center; justify-content: center; background: rgba(255, 244, 241, 1); z-index: 10;}
.b-logo.loading .logo { position: fixed; top: calc(50% - 20px); left: calc(50% - 117px); transition: all .4s linear;}
.b-logo.loading .ic-logo { transform: scale(2.3); overflow: visible; transition: all .6s linear;}
.b-logo.loading .logo-1 {transform: translateX(-40px); transition: all .5s linear;}
.b-logo.loading .logo-2 {transform: translateX(0); transition: all .5s linear;}
.b-logo.loading .logo-3 {transform: translateX(40px); transition: all .5s linear;}
.b-logo.loading .logo-4 {transform: translateX(80px); transition: all .5s linear;}
.b-logo.loading .logo-5 {transform: translateX(-160px); transition: all .5s linear;}
.b-logo.loading .logo-mask { opacity: 0; transition: all .5s linear;}


.b-logo.loading.animate .logo-1 {transform: translateX(0px);}
.b-logo.loading.animate .logo-2 {transform: translateX(0);}
.b-logo.loading.animate .logo-3 {transform: translateX(0px);}
.b-logo.loading.animate .logo-4 {transform: translateX(0px);}
.b-logo.loading.animate .logo-5 {transform: translateX(0px);}
.b-logo.loading.animate .logo-mask { opacity: 1; transition: all .5s .3s linear;}

.b-logo.loading.load {transition: all .3s linear; position: absolute; left: 0; top: 0; width: auto; height: auto; background: rgba(255, 244, 241, 0);}
.b-logo.loading.load .ic-logo { transform: scale(1);}
.b-logo.loading.load .logo {top: 30px; left: calc(50% - 650px);}
header.fixed .b-logo.loading.load .logo {top: 20px; }

.page-load {}
.page-load .main-layout__img {transform: translateX(0px);}
.page-load nav.header__nav {transform: translateY(0px);}

/* Навигация */
nav { }
nav.header__nav {position: relative; top: 0; display: flex; align-items: center; margin-left: auto; transition: all 1s 1s linear; transform: translateY(-300px);}
nav.header__nav .btn--podbor {font-size: 16px; position: relative; top: 0; margin-left: 40px; padding: 7px 20px 6px;}
nav ul { display: flex; align-items: center; margin: 0; padding: 0;}
nav li{margin-left: 40px;}
nav li a {color: #000; font-size: 16px; display: inline-block; vertical-align: top; text-decoration: none;}
nav li a:hover, nav li.active a {color: #FE5721;}


/* Контент */
div.content {}


#hamburger-icon { display: none}
#hamburger-icon {
    width: 37px;
    height: 10px;
    float:left;
    z-index: 1001;
    line-height:1;
    top: calc(50% - 8px);
    right: 20px;
    position:absolute;
}

body.active_m #hamburger-icon {
    height: 20px;
    width: 28px;
    margin-top: -4px;
}

#hamburger-icon .line {
    display: block;
    background: #000;
    width: 37px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all 0.4s;
}
body.active_m #hamburger-icon .line { background: #1D1D1B; width: 20px;}

#hamburger-icon .line.line-1 {
    top: 0;
}

#hamburger-icon .line.line-2 {
    top: 50%;
}

#hamburger-icon .line.line-3 {
    top: 100%;
}

#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(-4px);
}

#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(4px);
}

body.active_m #hamburger-icon .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
}

body.active_m #hamburger-icon .line-2 {
    opacity: 0;
}

body.active_m #hamburger-icon .line-3 {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
}

body.body-lock { overflow: hidden}


.main-layout {
    padding-top: 185px;
    margin-bottom: 180px;
    position: relative;
}
.main-layout:after { position: absolute;top: 0;left: calc(50% - 50vw); width: 100vw; content: ""; height: 100%; z-index: -2; background: #FFF4F1;}
.main-layout__wrapper {min-height: 100vh;position: relative; z-index: 2; background: #FFF4F1;  padding-left: 50%; padding-bottom: 90px; display: flex; flex-direction: column; justify-content: center}

.main-layout__img { position: absolute; width: 50%; left: 0; height: 100%; background: #FFF4F1 url("../img/main-bg.png") 0 50% no-repeat; background-size: calc(100% - 64px) auto; transform: translateX(-2000px); transition: all 1s linear;}

.main-layout .h-title {padding-bottom: 40px; transform: translateX(2000px); transition: all 1s .2s linear;}
.main-layout .b-text {padding-bottom: 40px; transform: translateX(2000px); transition: all 1s .5s linear;}
.main-layout .b-btn {transform: translateX(2000px); transition: all 1s 1s linear;}
.page-load .main-layout .h-title  {transform: translateX(0px);}
.page-load .main-layout .b-text  {transform: translateX(0px);}
.page-load .main-layout .b-btn {transform: translateX(0px);}


.section-programm { margin: 0 -20px; display: flex; padding-bottom: 64px;}
.section-programm .program-left { padding: 0 20px; width: 50%;}
.section-programm .program-right { padding: 0 20px; width: 50%;}
.section-programm {}

.text-orange {color: #FE5721; font-size: 28px; font-weight: 500; padding-bottom: 40px;}


.section-performance {}
.list-performance {padding-bottom: 240px;}
.item-performance { font-size: 28px; font-weight: 500; margin-bottom: -80px;}
.item-performance__wrapper {display: flex; align-items: center; flex-direction: row-reverse}
.item-performance_text {flex: 1 1 auto; display: flex; align-items: center; justify-content: flex-start; text-align: left;}
.item-performance_text .text { position: relative; left: -80px; max-width: 550px}
.item-performance_img .img-mob {display: none}
.item-performance:nth-child(2n+1) .item-performance__wrapper {flex-direction: row}
.item-performance:nth-child(2n+1) .item-performance_text {justify-content: flex-end; text-align: right;}
.item-performance:nth-child(2n+1) .item-performance_text .text {left: 80px;}

.b-marketing {padding-left: 33.33%;}
.b-marketing .list-marketing { margin: 0 -8px; display: flex; flex-wrap: wrap;}
.b-marketing .item-marketing .cicr-num {padding-right: 16px;}
.b-marketing .item-marketing .cicr-num .num{width: 48px;height: 48px;background: #FE5721; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 28px; color: #fff;}
.b-marketing .item-marketing .text {flex: 1 1 auto; font-size: 16px;}
.b-marketing .item-marketing {display: flex; padding: 0 8px;}
.b-marketing .item-marketing { width: 33.33%; padding-bottom: 64px;}
.b-marketing .item-marketing:last-child {width: 50%;}

.bench-rost { display: flex; align-items: center; margin-bottom: 40px;}
.bench-rost__label {color: #FE5721; font-size: 28px; font-weight: 500; max-width: 285px}
.bench-rost__text { display: flex;}
.bench-rost__text .num {font-size: 64px; font-weight: 500;}
.bench-rost__text .num+.num {background: url(../img/big-arr-r.svg) 0 50% no-repeat;margin-left: 40px;padding-left: 90px;}

.bench-rost .b-btn {}
.bench-rost .b-btn .btn {}

.section-4 {padding-bottom: 180px;}

.section-tehnology {padding: 180px 0; position: relative; z-index: 1; margin-bottom: 180px;}
.section-tehnology:after {position: absolute;top: 0;left: calc(50% - 50vw); width: 100vw; content: ""; height: 100%; z-index: -2; background: #FFF4F1;}

.tehnology-list { position: relative; padding: 64px 0; margin-bottom: 64px;}
.tehnology-list:after {width: 4px; background: #FE5721; position: absolute;top: 0; left: calc(50% - 2px); height: 100%; content: ""}
.tehnology-list .item-tehnology {width: 50%; margin-left: auto; text-align: left; padding: 32px 90px; font-size: 28px; position: relative; color: rgba(0,0,0, .5);}
.tehnology-list .item-tehnology .text { max-width: 400px; display: inline-block; vertical-align: top; transition: all .3s ease-in-out}
.tehnology-list .item-tehnology .circle { position: absolute; top: calc(50% - 16px); left: -16px; transform: scale(.5); width: 32px; height: 32px;  background: #FE5721; border-radius: 50%; transition: all .3s ease-in-out}
.tehnology-list .item-tehnology:nth-child(2n+1) { margin-right: auto;  margin-left: 0; text-align: right}
.tehnology-list .item-tehnology:nth-child(2n+1) .circle {left: calc(100% - 16px);}
.tehnology-list .item-tehnology:hover {color: rgba(0,0,0, 1);}
.tehnology-list .item-tehnology:hover .circle {transform: scale(1)}
.section-tehnology .big-orange-text {font-size: 28px;color: #FE5721; font-weight: 500; text-align: center; padding-bottom: 40px;}
.section-tehnology .b-btn { text-align: center}

.section-instrument {padding-bottom: 180px;}

.list-instrument { text-align: center;}
.list-instrument .item-instrument { display: inline-block; vertical-align: top; padding: 0 20px 40px;}
.list-instrument .item-instrument .text { display: inline-block; vertical-align: top; border: 3px solid #FE5721; border-radius: 46px; padding: 20px 40px; font-size: 28px;}


.section-instrument .big-orange-text {font-size: 28px;color: #FE5721; font-weight: 500; text-align: center; padding-bottom: 40px;}

.b-slider-perfomance { background: url(../img/preformance-line.png) 0 0 repeat-x; position: relative;}
.b-slider-perfomance .slider-performance { margin-right: -33%; padding-bottom: 60px;}
.b-slider-perfomance .item-slide-perfomance {background: linear-gradient(90deg, #FFDCD0 0%, #FFF7F4 100%); border-radius: 50px; padding: 40px; position: relative}
.b-slider-perfomance .item-slide-perfomance .num {width: 48px; height: 48px; background: #FE5721; color: #fff; display: flex; align-items: center; justify-content: center; font-size: 28px; border-radius: 50%; position: absolute; top: -10px;left: -10px;}
.b-slider-perfomance .item-slide-perfomance .text {font-size: 28px;}
.b-slider-perfomance .slide { padding: 24px; display: flex; }

.b-slider-perfomance .arr-next,
.b-slider-perfomance .arr-prev { position: absolute;bottom: -120px; left: calc(50% + 60px); background: #FE5721; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center; border-radius: 50%; cursor: pointer;}
.b-slider-perfomance .arr-next:hover,
.b-slider-perfomance .arr-prev:hover {background: #CA3606;}
.b-slider-perfomance .arr-next {left: calc(50% - 60px);}
.b-slider-perfomance .arr-next svg,
.b-slider-perfomance .arr-prev svg {width: 24px;height: 24px; stroke: #fff;}

.section-perfomance { position: relative; padding-bottom: 300px;}


.section-advantages {padding: 180px 0; position: relative; z-index: 1; }
.section-advantages:after {position: absolute;top: 0;left: calc(50% - 50vw); width: 100vw; content: ""; height: 100%; z-index: -2; background: #FFF4F1;}
.section-advantages .h-title { max-width: 1000px;}

.list-advantages { display: flex;padding-bottom: 74px; margin: 0 -24px;}
.list-advantages .item-advant {width: 33.333%; padding: 0 24px;}
.list-advantages .item-advant__wrapper { display: flex;}
.list-advantages .item-advant .img { min-width: 128px; max-width: 128px; margin-right: 16px;}
.list-advantages .item-advant .text {font-size: 28px; display: flex; align-items: center}


.section-advantages .big-orange-text {font-size: 28px;color: #FE5721; font-weight: 500; text-align: left; max-width: 890px; padding-bottom: 180px;}

.tehnology-ai { display: flex; margin: 0 -20px;}
.tehnology-ai .img { padding: 0 20px; width: 50%;}
.tehnology-ai .b-text { padding: 0 20px; width: 50%;}


.section-request {padding: 180px 0 80px; position: relative; z-index: 1; color: #fff;}
.section-request:after {position: absolute;top: 0;left: calc(50% - 50vw); width: 100vw; content: ""; height: 100%; z-index: -2; background: #54504F;}

.b-request { display: flex;}
.b-request .b-request-form { width: 50%; padding-right: 80px;}
.b-request .b-form {}
.b-request .form-row {padding-bottom: 64px;}
.b-request .input__input {width: 100%}
.b-request .b-form {}
.b-request .b-img { width: 50%; padding-left: 80px; max-width: 560px; margin-left: auto}
.b-request .b-img img {}



@media(max-width: 1410px){
    body {font-size: 16px;}
    .all {padding: 0 40px;}
}
@media(max-width: 1350px){
    header .b-logo {
        top: 0;
        left: -20px;
    }
    .b-logo.loading.load .logo {
        top: 20px;
        left: 20px;
    }
    .b-logo.loading .logo {
        top: calc(50% - 22px);
        left: calc(50% - 76px);
    }
    header {padding: 20px 0;}
    header .b-logo-wrapper { min-width: 152px; height: 45px;}
    header .ic-logo {width: 152px; height: 45px}
    header.fixed .b-logo.loading.load .ic-logo, header.fixed .b-logo .ic-logo {width: 152px;height: 45px;}
    nav li a {font-size: 16px;}
    nav li {margin-left: 25px;}
    nav.header__nav .btn--podbor {font-size: 15px;}
    .main-layout {margin-left: -20px;margin-right: -20px;}
}
@media(max-width: 1100px){
    #hamburger-icon { display: block}
    header .b-logo-wrapper { display: flex; align-items: center;}
    nav.nav { display: none; position: fixed;top: 0;left: 0; width: 100%;background: #fff; padding: 40px 20px; font-size: 20px; font-weight: 500;}
    nav ul { display: block;}
    nav li a {color: #1D1D1B;}
    nav li { padding: 0 16px; margin: 0;}
    .active_m nav.nav {}
    nav ul {padding-bottom: 20px;}

    nav.header__nav .btn--podbor,
    header.fixed  nav.header__nav .btn--podbor,
    header.fixed  nav.header__nav .btn--podbor:hover,
    nav.header__nav .btn--podbor:hover
     {background: none; color: #1698E1; border-color: #1698E1; margin-left: 0;}
    nav.header__nav .btn--podbor svg,
    nav.header__nav .btn--podbor:hover svg,
    header.fixed  nav.header__nav .btn--podbor svg,
    header.fixed  nav.header__nav .btn--podbor:hover svg {stroke: #1698E1;}
}

@media(max-width: 1024px){

    .all {padding: 0 20px;}
    .h-title {font-size: 48px;}
    .text-orange {font-size: 21px;}
    .list-performance {padding-bottom: 160px;}
    .item-performance_img { max-width: 300px}
    .item-performance {font-size: 24px; margin-bottom: -40px;}
    .item-performance:nth-child(2n+1) .item-performance_text .text {left: 40px;}
    .item-performance_text .text {left: -40px;}
    .b-marketing { padding-left: 0;}
    .section-4 {padding-bottom: 100px;}
    .section-tehnology {padding-top: 100px; padding-bottom: 100px; margin-bottom: 100px;}
    .tehnology-list .item-tehnology { padding: 32px;}
    .section-tehnology .big-orange-text {font-size: 21px;}
    .list-instrument .item-instrument .text {font-size: 24px; padding: 12px 20px;}
    .section-instrument {padding-bottom: 100px;}
    .b-slider-perfomance .item-slide-perfomance .text {font-size: 24px;}
    .b-slider-perfomance .item-slide-perfomance { border-radius: 30px; padding: 24px;}
    .b-slider-perfomance .item-slide-perfomance .num {width: 40px;height: 40px; font-size: 21px;}
    .b-slider-perfomance .slider-performance {padding-bottom: 40px;}
    .section-perfomance {padding-bottom: 200px;}
    .section-advantages {padding: 100px 0;}
    .list-advantages {margin-left: -15px;margin-right: -15px;}
    .list-advantages .item-advant {padding-left: 15px; padding-right: 15px;}
    .list-advantages .item-advant .img { min-width: 90px; max-width: 90px; margin-right: 10px;}
    .list-advantages .item-advant .text {font-size: 21px;}
    .section-advantages .big-orange-text {font-size: 24px; padding-bottom: 100px;}
    .tehnology-ai .img {width: 42%;}
    .tehnology-ai .b-text {width: 58%;}
    .section-request { padding: 100px 0 50px;}
    .b-request .b-request-form {padding-right: 40px;}
    .main-layout {padding-top: 100px; margin-bottom: 100px;}
}


@media(max-width: 800px){
    .btn { padding: 13px 16px; font-size: 21px;}
    .h-title {text-transform: none; font-weight: 500; padding-bottom: 32px; font-size: 41px;}
    .h-title strong {font-weight: 500;}
    .section-programm { flex-wrap: wrap}
    .section-programm .program-left {width: 100%;}
    .section-programm .program-right {width: 100%;}
    .tehnology-list .item-tehnology {font-size: 21px;}
    .list-advantages {flex-wrap: wrap}
    .list-advantages .item-advant {width: 100%;  padding: 15px;}
    .b-request .b-img {padding-left: 0;}
}

@media(max-width: 767px){

    header.fixed {padding-bottom: 10px}
    header .b-logo {
        top: 0;
        left: -40px;
    }
    .b-logo.loading.load .logo {
        top: 20px;
        left: -20px;
    }
    .b-logo.loading .logo {
        top: calc(50% - 22px);
        left: calc(50% - 76px);
    }
    header .b-logo-wrapper { min-width: 193px; height: 34px;}
    header .ic-logo {width: 193px;height: 34px;}
    header.fixed .b-logo.loading.load .ic-logo, header.fixed .b-logo .ic-logo {width: 193px;height: 34px;}


    header .ic-logo, header.fixed .ic-logo {width: 193px;height: 34px;}
    .h-title {font-size: 40px;}
    .text-orange {font-size: 18px;}
    .item-performance {margin-bottom: 0;}
    .b-marketing .item-marketing {width: 50%;}
    .b-marketing .item-marketing:last-child {width: 100%;}
}

@media(max-width: 680px) {

    header {padding: 20px 0;}
    .main-layout__img { position: absolute;top: 0;left: 0; width: 90%; height: 245px; background-size: contain;}
    .main-layout__img img { max-height: 100%;}
    .main-layout__wrapper {padding-left: 20px; padding-right: 20px; padding-bottom: 20px; min-height: 50vh;}
    .btn {font-size: 16px; font-weight: 400; width: 100%; display: block; max-width: 400px; text-align: center}
    .main-layout {padding-top: 64px;padding-bottom: 64px; margin-bottom: 64px;}
    .h-title {padding-bottom: 24px;}
    .text-orange {padding-bottom: 24px;}
    .section-programm .text-small {font-size: 14px;}
    .list-performance {padding-bottom: 30px;}
    .item-performance {font-size: 18px; margin-bottom: 40px;}
    .item-performance_img {min-width: 80px; max-width: 80px;}
    .item-performance_img img {display: none}
    .item-performance_img img.img-mob {display: block}
    .item-performance_text .text { left: 0;}
    .item-performance:nth-child(2n+1) .item-performance_text .text {left:0;}
    .item-performance:nth-child(2n+1) .item-performance_text { text-align: left; justify-content: flex-start}
    .item-performance:nth-child .item-performance_text { text-align: right; justify-content: flex-end}
    .bench-rost {flex-wrap: wrap; width: 100%; margin-bottom: 30px;}
    .bench-rost__label {width: 100%; font-size: 18px; max-width: 100%;}
    .bench-rost__text .num {font-size: 40px;}
    .bench-rost__text .num+.num {background-size: auto 36px; margin-left: 24px; padding-left: 64px;}
    .section-4 {padding-bottom: 64px;}
    .section-tehnology {padding-top: 64px;padding-bottom: 64px;margin-bottom: 64px;}
    .section-tehnology .h-title {text-align: left}
    .tehnology-list { padding: 24px 0; margin-bottom: 24px;}
    .tehnology-list:after {left: 0;}
    .tehnology-list .item-tehnology:nth-child(2n+1) .circle, .tehnology-list .item-tehnology .circle {left: -14px}
    .tehnology-list .item-tehnology {margin: 0; width: 100%; padding: 20px 0 20px 36px;}
    .tehnology-list .item-tehnology .text {color:#000; font-size: 18px; max-width: 100%; text-align: left; display: block}
    .section-instrument .h-title { text-align: left}
    .list-instrument {text-align: left; padding-bottom: 24px;}
    .list-instrument .item-instrument .text {font-size: 18px;}
    .list-instrument .item-instrument {padding: 0 0 8px;}
    .section-instrument .big-orange-text {font-size: 18px; padding-bottom: 0;}
    .section-instrument {padding-bottom: 64px;}
    .section-perfomance .h-title { text-align: left;}
    .b-slider-perfomance .item-slide-perfomance .text {font-size: 18px;}
    .b-slider-perfomance .slider-performance {margin-right: -80%; margin-left: -12px;}
    .b-slider-perfomance .slide {padding: 12px;}
    .b-slider-perfomance .arr-next, .b-slider-perfomance .arr-prev {bottom: -80px;}
    .b-slider-perfomance .arr-next {left: 0;}
    .b-slider-perfomance .arr-prev {left: auto; right: 0}
    .section-perfomance {padding-bottom: 150px;}
    .section-advantages {padding: 64px 0;}
    .list-advantages {padding-bottom: 24px;}
    .section-advantages .big-orange-text {padding-bottom: 64px;font-size: 18px;}
    .tehnology-ai {flex-wrap: wrap; justify-content: center;}
    .tehnology-ai .img {width: 100%; margin-bottom: 24px; max-width: 335px;}
    .tehnology-ai .b-text {width: 100%;}
    .section-request { padding: 40px 0;}
    .b-request {flex-wrap: wrap}
    .b-request .b-request-form {padding: 0; width: 100%}
    .b-request .b-img {display: none}
    .b-request .form-row {padding-bottom: 40px;}
}

@media(max-width: 500px) {
    .b-marketing .item-marketing {width: 100%;padding-bottom: 18px;}

}
